# =========================
# Data files
# =========================
*.csv
*.parquet

# =========================
# Python cache files
# =========================
__pycache__/
*.pyc

# =========================
# environnement
# =========================
venv/
.venv/
env/
.env/
ENV/
# =========================
# conda files
# =========================
conda-env/
.anaconda/
.conda/

# =========================
# files in data/processed and augmented
# =========================
data/processed/*
data/validation/*